<table class="table">
  <tr>
    <th>Serial</th>
    <th>PID</th>
    <th>Status</th>
    <th>Connected</th>
    <th>Last seen</th>
    <%= Enum.map(chargers, fn c -> %>
      <tr> 
        <td><%= c.serial%></td>
        <td><%= c.pid%><td>
        <td><%= c.status%></td>
        <td><%= c.connected%></td>
        <td><%= c.last_seen%></td>
      </tr>
    <% end) %>
  </tr>
</table>
