<table class="table table-sm table-striped">
  <thead class="thead-light">
    <th>Token</th>
    <th>Description</th>
    <th></th>
  </thead>
    <%= Enum.map(tokens, fn t -> %>
      <tr> 
        <td><%= t.token %></td>
        <td><%= t.description %></td>
        <td><%= case t.blocked do%>
          <% true -> %><span class="badge badge-danger badge-pill">blocked</span>
          <% _ -> %>&nbsp;
          <% end %>
        </td>
      </tr>
    <% end) %>
</table>
