<table class="table">
  <tr>
    <th>Token</th>
    <th>Description</th>
    <th>Blocked</th>
    <%= Enum.map(tokens, fn t -> %>
      <tr> 
        <td><%= t.token %></td>
        <td><%= t.description %><td>
        <td><%= t.blocked %></td>
      </tr>
    <% end) %>
  </tr>
</table>
